# Oct 21, 2019 - Dictionaries Practice

In [20]:
toons = {'aylie':'mesmer','ellie':'mesmer','linha':'revenant','maquina':'engineer'}

## methods

In [5]:
# copy a dictionary
toons2 = toons.copy()
toons2

{'aylie': 'mesmer',
 'ellie': 'mesmer',
 'linha': 'revenant',
 'maquina': 'engineer'}

In [7]:
# clear elements from a dictionary
toons2 = toons.clear()
toons2 
# note - no more output on execution

In [21]:
toons

{'aylie': 'mesmer',
 'ellie': 'mesmer',
 'linha': 'revenant',
 'maquina': 'engineer'}

In [23]:
# getting items
x = toons["ellie"]
x

'mesmer'

In [24]:
toons["ellie"]

'mesmer'

In [25]:
toons.get("ellie")

'mesmer'

In [27]:
# get dictionary length
len(toons)

4

In [38]:
# loop through keys in dictionary

for key in toons.keys():
    print(key)

aylie
ellie
linha
maquina

In [36]:
# loop through values in dictionary

for value in toons.values():
    print(value)

mesmer
mesmer
revenant
engineer

In [41]:
# loop through keys and values in dictionary

for keys,values in toons.items():
    print(keys,values)

aylie mesmer
ellie mesmer
linha revenant
maquina engineer

In [42]:
# change a value

toons["maquina"] = 'warrior'

In [43]:
toons

{'aylie': 'mesmer',
 'ellie': 'mesmer',
 'linha': 'revenant',
 'maquina': 'warrior'}

In [44]:
# check if a key exists

if "ellie" in toons:
    print('True')

True

In [48]:
# adding an item

toons["nika"] = 'thief'
toons["karoilia"] ='ranger'
toons

{'aylie': 'mesmer',
 'ellie': 'mesmer',
 'linha': 'revenant',
 'maquina': 'warrior',
 'nika': 'thief',
 'karoilia': 'ranger'}

In [50]:
# removing an item
toons.pop("karoilia")

'ranger'

In [51]:
toons

{'aylie': 'mesmer',
 'ellie': 'mesmer',
 'linha': 'revenant',
 'maquina': 'warrior',
 'nika': 'thief'}

# Oct 22, 2019 - Lambda Expressions

A lambda operator or lambda function is used for creating small, one-time, 
anonymous function objects in Python.

A lambda operator can have any number of arguments but can have only one expression. It cannot contain any statements and returns a function object which can be assigned to any variable.

Basic Syntax:

In [7]:
# lambda arguments : expression

In [8]:
# a normal function:
def addition(x, y):
    return x + y

In [9]:
addition(9,9)

18

In [10]:
# convert the function into a lambda function:
sum = lambda x,y : x + y

In [11]:
print(sum(9,9))

18

In [12]:
# check the type of sum, it will be a function; a lambda function!
type(sum)

function

In [62]:
# a second example
z = 100
def checkNum(num):
    if num == z:
        return 'Equal'
    else:
        return 'Not Equal'

In [63]:
checkNum(500)

'Not Equal'

In [64]:
checkNum(99)

'Not Equal'

In [65]:
checkNum(100)

'Equal'

In [37]:
z = 100

In [58]:
test = lambda num : 'Equal' if num == z else 'Not Equal'

In [59]:
print(test(99))

Not Equal

In [60]:
print(test(100))

Equal

# Oct 24, 2019 - Pandas Series

In [2]:
import pandas as pd

In [3]:
Data =[1, 3, 4, 5, 6, 2, 9]  # Numeric data

In [7]:
pdseries = pd.Series(Data)
pdseries
# output is a pandas series with default row indexes

0    1
1    3
2    4
3    5
4    6
5    2
6    9
dtype: int64

In [8]:
Index =['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [9]:
pdseries2 = pd.Series(Data, Index) # creates a series with our own defined  index.

In [10]:
pdseries2

a    1
b    3
c    4
d    5
e    6
f    2
g    9
dtype: int64

In [11]:
Index2 =['a', 'b', 'c', 'd', 'e', 'f', 'g', 'i']

In [12]:
pdseries3 = pd.Series(Data, Index2)

ValueError: Length of passed values is 7, index implies 8

In [ ]:
# there is an error because the data and index lists don't have the same length!

In [13]:
dictionary ={'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

In [16]:
# creating a panda series from a dictionary
pddict1 = pd.Series(dictionary)

In [15]:
pddict1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
Data2 =[[2, 3, 4], [5, 6, 7]]  # Defining 2darray

In [19]:
pdseries4 = pd.Series(Data2)

In [20]:
pdseries4

0    [2, 3, 4]
1    [5, 6, 7]
dtype: object

In [ ]:
# notice that each list is now a "cell" in the series
# row 0  |   [2,3,4]
# row 1  |   [5,6,7]

## Oct 28th, 2019 Pandas DataFrames

In [2]:
# import pandas as pd
import pandas as pd

In [28]:
# intialise data of lists.
data = {'Toon':['Ellie', 'Aylie', 'Machina', 'Linha','Nika','Kaeroila','Palatina'],
        'Age':[10,6,9,10,3,5,9],
        'Class':['Mesmer','Mesmer','Engineer','Revenant','Thief','Ranger','Guardian']
       }

In [29]:
df = pd.DataFrame(data)

In [30]:
df

       Toon  Age     Class
0     Ellie   10    Mesmer
1     Aylie    6    Mesmer
2   Machina    9  Engineer
3     Linha   10  Revenant
4      Nika    3     Thief
5  Kaeroila    5    Ranger
6  Palatina    9  Guardian

In [31]:
# select a row by index, use the "loc" method on the row's index id
df.loc[1]

Toon      Aylie
Age           6
Class    Mesmer
Name: 1, dtype: object

In [32]:
df.iloc[1]  # you can also use the "iloc" method

Toon      Aylie
Age           6
Class    Mesmer
Name: 1, dtype: object

In [33]:
# retrieve multiple rows
df.loc[0:2]

      Toon  Age     Class
0    Ellie   10    Mesmer
1    Aylie    6    Mesmer
2  Machina    9  Engineer

In [34]:
df.iloc[2:4]

      Toon  Age     Class
2  Machina    9  Engineer
3    Linha   10  Revenant

In [35]:
# select a column by it's name
df['Toon']

0       Ellie
1       Aylie
2     Machina
3       Linha
4        Nika
5    Kaeroila
6    Palatina
Name: Toon, dtype: object

In [37]:
# select multiple columns
# format is [rows, columns]
df.loc[:,"Age":"Class"]

   Age     Class
0   10    Mesmer
1    6    Mesmer
2    9  Engineer
3   10  Revenant
4    3     Thief
5    5    Ranger
6    9  Guardian

In [38]:
# select specific rows and columns
df.loc[3:5,"Toon":"Age"]

       Toon  Age
3     Linha   10
4      Nika    3
5  Kaeroila    5

In [39]:
# select a specific item (if you know where its at)
df.loc[2,"Toon"]

'Machina'