## Letter Case in Strings

In [19]:
# capitalize() - Converts the first character to upper case
str1 = 'star wars movies'
str1a = str1.capitalize()
print(str1a)

Star wars movies

In [20]:
# casefold() - Converts the entire string into lower case
str2 = 'THE EMPIRE STRIKES BACK'
str2a = str2.casefold()
print(str2a)

the empire strikes back

In [21]:
# lower() - Coverts the entire string into lower case
str3 = 'RETURN OF THE JEDI'
str3a = str3.lower()
print(str3a)

return of the jedi

In [22]:
# upper() - Converts the entire string into upper case
str4 = 'A New Hope'
str4a = str4.upper()
print(str4a)

A NEW HOPE

In [23]:
# swapcase() - Swaps cases, lower case becomes upper case and vice versa
str5 = 'ThE pHaNtOm MeNaCe'
str5a = str5.swapcase()
print(str5a)

tHe PhAnToM mEnAcE

In [24]:
# title() - Converts the first character of each word to upper case
str6 = 'attack of the clones'
str6a = str6.title()
print(str6a)

Attack Of The Clones

## Focusing down on characters

In [32]:
# count() - Returns the number of times a specified value occurs in a string - this example, a letter "e"
str7 = 'The Force Awakens and The Last Jedi'
str_count = str7.count("e")
print(str_count)

5

In [34]:
# count() - Returns the number of times a specified value occurs in a string - this example, a number "7"
str8 = 'The Force Awakens Ep 7 and The Last Jedi Ep 6 + 1 = 7'
str_count = str8.count("7")
print(str_count)

2

In [35]:
# count() - Returns the number of times a specified value occurs in a string - this example, a string "wake"
str8 = 'The Force Awakens Ep 7 and The Last Jedi Ep 6 + 1 = 7'
str_count = str8.count("wake")
print(str_count)

1

In [38]:
# find() - Searches the string for a specified value and returns the position of where it was found, counting starts from zero
str9 = 'Rogue One A Star Wars Story'
str_position = str9.find('One')
print(str_position) # note here, the capital "O" starts at position six

6

In [39]:
# find() - Searches the string for a specified value and returns the position of where it was found, counting starts from zero
str10 = 'Rogue One A Star Wars Story'
str_position = str9.find('o')
print(str_position) # note here, it finds the FIRST instance and returns it! How to count further? Later with a FOR statement.

1

In [2]:
# len() - Gets the length of a string - this is a method - the string variable goes into the parentheses
str10a = 'Stars Wars Legends Expanded Universe Books'
length = len(str10a)
print(length)

42

In [41]:
# index() - Searches the string for a specified value and returns the position of where it was found - same as find()!
str11 = 'Rogue One A Star Wars Story'
str_position1 = str11.find('One')
print(str_position1) # note here, the capital "O" starts at position six

str12 = 'Rogue One A Star Wars Story'
str_position2 = str12.find('o')
print(str_position2)

6
1

In [45]:
# rfind() and
# rindex() - Searches the string for a specified value and returns the last position of where it was found

str13 = 'Rogue One A Star Wars Story'
str_position1 = str13.rfind('One')
print(str_position1) # the last place "one" is found begins at position six

str14 = 'Rogue One A Star Wars Story'
str_position2 = str13.rfind('e')
print(str_position2) # the last place "e" is found is at position eight

6
8

In [64]:
# endswith() - Returns true if the string ends with the specified value
str15 = 'Solo A Star Wars Story'
str_bool1 = str15.endswith("y")
print(str_bool1)

str16 = 'Solo A Star Wars Story'
str_bool2 = str16.endswith('Story')
print(str_bool2) # note it takes the whole word, not just the "y" -  to test, replace with "Storey" 

str17 = 'Solo A Star Wars Story'
str_bool3 = str17.endswith('Wars')
print(str_bool3)

True
True
False

In [67]:
# startswith() - Returns true if the string starts with the specified value
str18 = 'Solo A Star Wars Story'

str_bool1 = str18.startswith('S')
print(str_bool1)

str_bool2 = str18.startswith('s')
print(str_bool2)

str_bool2 = str18.startswith("Solo")
print(str_bool3) # NOTICE - it's only evaluating the first character! a bit different than endswith()

True
False
False

In [5]:
# reversing characters - can be done using Python slicing (via square brackets)

str18a = 'Death-Star'
str18a_rev = str18a[::-1]
print(str18a_rev)

ratS-htaeD

## String slicing

In [8]:
# strings can be sliced like lists
str18b = 'X-Wing Fighter'
print(str18b[1]) # this gets the character at position 1

-

In [ ]:
# See the specific slicing notebook for more details

## Inquiring about the contents of a string

In [77]:
# isalnum() - Returns True if all characters in the string are alphanumeric
str19 = 'The Force Awakens'
str_bool1 = str19.isalnum()
print(str_bool1) # test 1 - will be false since there are SPACE characters

str20 = 'TheForceAwakens'
str_bool2 = str20.isalnum()
print(str_bool2) # test 2 - will be true since there are no SPACE characters

str21 = 'TheForceAwakens789'
str_bool3 = str21.isalnum()
print(str_bool3) # test 3 - will be true since there are no SPACE characters

str22 = 'TheForceAwakens789+'
str_bool4 = str22.isalnum()
print(str_bool4) # test 4 - will be false since there is now a "+" symbol

False
True
True
False

In [81]:
# isalpha() - Returns True if all characters in the string are in the alphabet
str23 = 'TheForceAwakens789+'
str_bool1 = str23.isalpha()
print(str_bool4) # test 1 - will be false since there are numbers and a plus

str24 = 'TheForceAwakens789'
str_bool2 = str24.isalpha()
print(str_bool2) # test 2 - will be false since there are numbers and a plus

str24 = 'TheForceAwakens'
str_bool3 = str24.isalpha()
print(str_bool3) # test 3 - will be TRUE

str25 = 'The Force Awakens'
str_bool4 = str25.isalpha()
print(str_bool4) # test 4 - will be false beacuse of the spaces between the letters

False
False
True
False

In [83]:
# islower() - Returns True if all characters in the string are lower case
str26 = 'the force awakens'
str_bool1 = str26.islower()
print(str_bool1) # note that it ignores spaces

str27 = 'the force Awakens'
str_bool2 = str27.islower()
print(str_bool2) # note that it ignores spaces

True
False

In [86]:
# isupper() - Returns True if all characters in the string are upper case
str28 = 'the force awakens'
str_bool1 = str28.isupper()
print(str_bool1) # note that it ignores spaces

str29 = 'THE FORCE AWAKENS'
str_bool2 = str29.isupper()
print(str_bool2) # note that it ignores spaces

False
True

In [90]:
# istitle() - Returns True if the string follows the rules of a title
str30 = 'The Force Awakens'
str_bool1 = str30.istitle()
print(str_bool1) # note that it ignores spaces, this in title format - first character in each letter is upper

str31 = 'The Force ajwakens'
str_bool2 = str31.istitle()
print(str_bool2)

True
False

In [96]:
# isdigit() 
# isnumeric() - Returns True if all characters in the string are digits
str32 = '1234567788999004346656'
str_bool1 = str32.isdigit()
str_bool2 = str32.isnumeric()
print(str_bool1,str_bool2)

str33 = '1 234567788999004346656'
str_bool3 = str33.isdigit()
str_bool4 = str33.isnumeric()
print(str_bool3, str_bool4) # the space is not a digit! Spaces are NOT ignored!

str34 = '1a234567788999004346656'
str_bool5 = str34.isdigit()
str_bool6 = str34.isnumeric()
print(str_bool5, str_bool6) # the letter "a" is not a digit!

True True
False False
False False

## Manipulating Strings

In [109]:
# split()
# rsplit() - Splits the string at the specified separator, and returns a list. A FORMAL LIST - in square brackets separated by commas.
str35 = 'May,the,force,be,with,you'
newstr1 = str35.split(",")
newstr2 = str35.rsplit(',')
print(newstr1)
print(newstr2)

str36 = 'Luke.I.am.your.father!'
newstr3 = str36.split(".")
newstr4 = str36.rsplit('.')
print(newstr3)
print(newstr4)

['May', 'the', 'force', 'be', 'with', 'you']
['May', 'the', 'force', 'be', 'with', 'you']
['Luke', 'I', 'am', 'your', 'father!']
['Luke', 'I', 'am', 'your', 'father!']

In [121]:
# join() - Joins the elements of an iterable to the end of the string by using a separator value to 'knit' the words together
list1 = ['Luke', 'I', 'am', 'your', 'father!']
separator1 = ', '
str37 = separator1.join(list1)
print(str37) # notice the undesirable commas....

separator2 = '- -'
str38 = separator2.join(list1)
print(str38) # notice the undesirable commas are now made into something that might be useful one day in the future

Luke, I, am, your, father!
Luke- -I- -am- -your- -father!

In [16]:
# using a space as the sepaator turns it into a string absent the commas
list1 = ['Luke', 'I', 'am', 'your', 'father!']
str39 = ' '.join(list1)
print(str39)

Luke I am your father!

In [14]:
# splitlines() - The method splitlines() returns a list with all the lines in a string, optionally including the line breaks (if num is supplied and is true)

str40 = "The Phantom Menace\nAttack of the Clones\nRevenge of the Sith"
list4 = str40.splitlines()
print(list4)

['The Phantom Menace', 'Attack of the Clones', 'Revenge of the Sith']

In [12]:
# the in method returns a boolean for the presence of a value
'am' in list3

True